<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8"/>
    <title>Acebook</title>
    <link rel="stylesheet" href="/main.css" />
</head>


<body>


<nav class="navbar navbar-dark bg-primary">
    <div th:unless="${user_id}" class="form-inline">
        <a class="navbar-brand" href="/">Acebook</a>
        <form class="form-inline" action="#" th:action="@{/user/authentication}" th:object="${user}" method="post">
            <input class="form-control mr-sm-2" type="email" th:field="*{email}" required="true" placeholder="email address"/>
            <input class="form-control mr-sm-2" type="password" th:field="*{password}" required="true" placeholder="password"/>
            <input type="submit" value="Sign In" class="btn btn-outline-success"/>
        </form>
        <a class="btn btn-outline-success" href="user/new">Sign Up</a>
    </div>

    <div th:if="${user_id}">
        <a class="navbar-brand" href="/">Acebook</a>
        <a class="btn btn-outline-danger" href="user/signout">Sign Out</a>
    </div>
</nav>

<div th:if="${user_id}" class="accordion" id="accordionExample">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h2 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Whats on your mind?
                </button>
            </h2>
        </div>

        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
                <div>
                    <form action="#" th:action="@{/post}" th:object="${post}" method="post">
                        <textarea class="form-control" type="text" th:field="*{content}" placeholder="share your thoughts" />
                        <input type="submit" value="Submit" class="btn btn-primary"/> <input type="reset" value="Reset" class="btn btn-dark"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="userid" th:attr="value=${user_id}">

    <div id="app"></div>

    <script src="built/bundle.js"></script>

</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>
